.expedition-form {
    height: 480px;
    width: 700px;
}

.expedition-form textarea {
    height: 250px;
    resize: none;
}

.expeditions-columns-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 480px;
    width: 400px;
}

.expedition-discription {
    height: 250px;
}