form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 480px;
    width: 400px;
}

form textarea {
    height: 250px;
    resize: none;
}

.columns-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 480px;
    width: 400px;
}

.discription {
    height: 250px;
}